<mat-sidenav-container [autosize]="true">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <ng-container *ngIf="(active$ | async) as book;else notedit">
      <book-form (onClick)="update($event)"></book-form>
    </ng-container>
    <ng-template #notedit>
      <book-form (onClick)="save($event)"></book-form>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button (click)="toggleSidenav()">{{ sidenav.opened ? 'Close' : 'Add' }}</button>
    <book-table [books]="books$ | async"></book-table>
  </mat-sidenav-content>
</mat-sidenav-container>
